<div class="banner">
	<h1>Nos cocktails</h1>
</div>

<div class="container">

	<%  @cocktails.each do |cocktail| %>
	<div class="col-xs-12 col-sm-4">
		<div class="card">
		<h2> <%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
		<p> <% cocktail.doses %> </p>
		<%= link_to "Delete", cocktail_path(cocktail.id), method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	</div>
	<% end %>
</div>

<div> <%= link_to "add a cocktail", new_cocktail_path %> </div>