<div class="navbar-wagon">
  <!-- Logo -->
	  <%= link_to cocktails_path do  %>
	  	<%= image_tag "logo_mister_cocktails.png", width: 105 %>
	  <% end %>

  <!-- Right Navigation -->
 	<div class="navbar-wagon-right hidden-xs hidden-sm">
 		<div class="navbar-wagon-item navbar-wagon-link" >
 			<%= link_to "Cocktails", cocktails_path %>
 	 	</div>
  </div>
</div>